.imageupload{
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  padding: 20px;
}

.imageupload input{
  margin: 20px;
  border: 1px solid lightgray;
  width: 40%;
  height: 40%;
}

.imageupload__progress{
  width: 100%
}
